mat-grid-tile {
  background: silver;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0.5em;
  font: var(--mat-sys-display-small);

  &.enabled {
    background: var(--mat-sys-surface);
    box-shadow: var(--mat-sys-level2);
  }
}
